video,
canvas {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  box-shadow: 0 0 10px 1px #1c1e20;
}

video {
  height: 100%;
}

canvas {
  height: 0;
  box-shadow: none;
  transition: height 0.3s ease-in-out;
}

canvas.hasPhoto {
  height: 100%;
  box-shadow: 0 0 10px 1px #1c1e20;

  /* aspect-ratio: 4/3; */
}
/* 
@media (max-width: 576px) {
  video {
    height: 259px;
  }

  canvas.hasPhoto {
    height: 259px;
  }
}

@media (max-width: 425px) {
  video {
    height: 211px;
  }

  canvas.hasPhoto {
    height: 211px;
  }
}

@media (max-width: 375px) {
  video {
    height: 181px;
  }

  canvas.hasPhoto {
    height: 181px;
  }
} */
